@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@900&family=Exo+2&family=Yellowtail&display=swap');

body{
    background-color: #6ebbd5;
}


.GameBoard{
    position:absolute;
    margin: auto;
    left:500px;
    margin-top: 20px;
    width: 50%;
    height: 750px;
    background-color: #00B0F0 ;
    border: 2px solid white;
}

.VisibleCodeBoard{
    margin:auto;
    margin-top: 20px;
    width: 200px;
    display: grid;
    grid-template-columns: repeat(4, 50px);
    grid-template-rows: 50px;
    grid-column-gap: 1px;
    border:solid black 1px;
}
.VisibleCodeBoard div{
    border:solid black 1px;
    background-color: white;
}

.VisibleCodeBoard .codeBall{
    height: 40px;
    width: 40px;
    background-color: gray;
    border-radius: 50%;
    margin: 4px;
}

.RowBoard{
    width: 250px;
    height: 500px;
    margin:auto;
    margin-top: 50px;
}

.Rows{
    float: left;
    
    width: 160px;
    display: grid;
    grid-template-columns: repeat(4, 40px);
    grid-template-rows: repeat(12, 40px);
    grid-column-gap: 1px;
    grid-row-gap: 1px;
    border: solid black 1px;
}

.Rows {
    background-color: white;
}

.Rows div{
    border: solid #03318C 1px;
}
.Rows .bigBall{
    height: 28px;
    width: 28px;
    background-color: gray;
    border-radius: 50%;
    margin: 4px;
}

.HintRows{
    float:left;
    margin-left:2px;
    margin-top: 5px;
    width: 80px;
    display: grid;
    grid-template-columns: repeat(4, 20px);
    grid-template-rows: repeat(12, 20px);
    grid-column-gap: 1px;
    grid-row-gap: 21px;
}
.HintRows div{
    background-color: rgb(56, 55, 55);
}

.HintRows .smallBall{
    height: 12px;
    width: 12px;
    background-color: black;
    border-radius: 50%;
    float: left;
    margin: 4px;
}

.ColorsBoard{
    clear: both;
    margin:auto;
    margin-top: 50px;
    width: 480px;
    display: grid;
    grid-template-columns: repeat(8, 60px);
    grid-template-rows: 60px;
    grid-column-gap: 1px;
    grid-row-gap: 1px;
}

.ColorsBoard div{
    background-color: white;
    border: solid black 1px;
}

.ColorsBoard .colorBall{
    height: 50px;
    width: 50px;
    background-color: gray;
    border-radius: 50%;
    float: left;
    margin: 4px;
}


.StatusBar{
    clear: both;
    width: auto;
    height: 100px;
    margin-top: 30px;
    background-color: #00B0F0 ;
    color: white;
    font-family: 'Cinzel Decorative';
    font-size: 30px;
    text-align: center;
    border: 2px solid white;
}

#tooSmall{
    display: none;
 }
 
 @media (max-width: 1100px) or (max-height: 900px) { 
     body {
         background-color: black;
     }
     .content{
         visibility: hidden;
     }
     .GameBoard{
         visibility: hidden;
     }
     #tooSmall {
         color: green;
         display: block;
         font-size: 50px;
         text-align: center;
     }
   }

   @keyframes flash{
    0%{text-shadow: 1px 1px 1px yellow}
    9.5%{text-shadow: 0px 0px 0px yellow}
    12.5%{text-shadow: 0px 0px 35px yellow;
          color: rgb(196, 94, 94);}
    15.5%{text-shadow: 10px 10px 10px red}
    
    27%{text-shadow: 0px 0px 0px yellow}
    30%{text-shadow: 0px 0px 35px yellow;
        color: rgb(250, 176, 176);}
    33%{text-shadow: 0px 0px 0px yellow}
   
    97%{text-shadow: 0px 0px 0px yellow}
    100%{text-shadow: 0px 3px 50px yellow;
         color: white;}
  }
  